body {
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  background-color: #95a1a1; 
}


.app {
  max-width: 800px;
  width: 100%; 
  padding: 20px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background-color: #0fa6ac; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(110, 9, 77, 0.1); 
}

h1 {
  text-align: center;
  color: #050806; 
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

form div {
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #bd0eae2d;
  color: rgb(206, 108, 16);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #2a9ecc;
}

@media (max-width: 600px) {
  input, button {
    font-size: 14px;
  }

  .app {
    padding: 10px;
  }
}